#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: blanchedalmond;
  font-family: fantasy;
  font-weight: bold;
  font-size: larger;
}

#header{ 
   font-size:xx-large;
}

#nav-bar {
  background-color: rgb(214, 147, 71);
  height: 100px;
  width: 100%;
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}